* {
  box-sizing: border-box;
}
#background {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100dvw !important;
  height: 100dvh !important;
}
html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100dvw;
  height: 100dvh;
  font-family: monospace;
}
.home-icon {
  display: flex;
  max-width: 40px !important;
  height: auto; /* Maintain aspect ratio */
  object-fit: contain;
  overflow: hidden;
  border: none;
  cursor: pointer;
  background-color: transparent;
  opacity: 0.6;
  padding: 4px 4px;
  margin-left: 10px;
  z-index: 1000;
}
#user-interface{
  position: fixed;
  z-index: 100;
  pointer-events: auto;
  font-size: 12px;
  text-align: center;
}
#camera-controls {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 30px;
  top: 4%;
  left: 3%;
  border: none;
  gap: 12px;
}
.camera-control {
  display: flex;
  align-items: center;
  gap: 4px;
}
.camera-control span {
  pointer-events: none;
}
.camera-control button {
  width: 20px;
  height: 20px;
  text-align: left;
  cursor: pointer;
  opacity: 0.6;
  border: none;
  border-radius: 0;
}
.camera-control button:hover {
  border: 1px solid black;
}
#xyCamera-btn {
  background: #FFFF00;
}
#zyCamera-btn {
  background: #FF0000;
}
#xzCamera-btn {
  background: #0000FF;
}
#orbit-btn {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 12px;
  margin-right: 6px;
  scale: 1.5;
}
#abCamera-btn {
  background: #FFC0CB;
}
#cbCamera-btn {
  background: #008000;
}
#acCamera-btn {
  background: #FFA700;
}
#settings {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  top: 4%;
  right: 3%;
  height: auto;
  border: none;
  gap: 12px;
}
.setting {
  display: flex;
  border-radius: 0;
  gap: 10px;
}
.setting button {
  width: 20px;
  height: 20px;
  border-radius: 0;
  border: none;
}
#fullscreen-btn {
  margin-bottom: 5px;
}
#tools-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  top: 30%;
  right: 5%;
  min-width: auto;
  height: auto;
  border: none;
  gap: 10px;
}
#about {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100dvw;
  padding: 0 5px;
  font-size: 8px;
  font-style: italic;
  cursor: default;
  user-select: none;
  pointer-events: none;
  padding-bottom: env(safe-area-inset-bottom) 5px;
}
#about p {
  padding: 0 5px;

}
#about a {
  font-size: 12px;
  pointer-events: all;
}