* {
  box-sizing: border-box;
}
#background {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100dvw !important;
  height: 100dvh !important;
}
html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100dvw;
  height: 100dvh;
}
.home-icon {
  position: fixed;
  max-width: 50px !important;
  height: auto; /* Maintain aspect ratio */
  object-fit: contain;
  overflow: hidden;
  padding-top: 5px;
  padding-left: 5px;
  border: none;
  margin: 0;
  cursor: pointer;
  background-color: transparent;
  opacity: 0.9;
  z-index: 1000;
}
#user-interface{
  position: fixed;
  z-index: 100;
  pointer-events: auto;
  font-size: 12px;
  text-align: center;
}
#camera-controls {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-wrap: wrap;
  align-items: center;
  top: 30%;
  left: 5%;
  min-width: auto;
  height: auto;
  border: none;
  gap: 10px;
}
#camera-controls button {
  width: 100%;
  text-align: center;
  cursor: pointer;
  padding: 6px;
}
#about {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100dvw;
  padding: 15px 5px;
  font-size: 10px;
  font-style: italic;
  cursor: default;
  user-select: none;
  pointer-events: none;
  padding-bottom: env(safe-area-inset-bottom) 5px;
}
#about p {
  padding: 0 5px;

}
#about a {
  font-size: 12px;
  pointer-events: all;
}